<div class="container">
  <h2>会員一覧</h2>
  全<%= @customers.count %>件登録
  <table class="table table-hover bg-white">
	<tbody>
      <% @customers.each do |customer| %>
        <tr>
		  <th>
		    <%= customer.name %> 様
		  </th>
      <th><%= link_to "編集",edit_admin_customer_path(customer),class: 'btn btn-outline-secondary' %>
      </th>
		</tr>
      <% end %>
    </tbody>
  </table>
  <div class="col-md-4 offset-4">
  <%= paginate @customers %>
</div>
</div>