/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body{
	background-color: #FFFFDD;
}

// カバー画像プレビュー表示サイズ
.cover_image_prev{
	margin: 0 5px 5px 0;
    max-width: 200px;
    vertical-align: bottom;
}
// プロフィール画像プレビュー表示サイズ
.profile_image_prev{
	margin: 0 5px 5px 0;
    max-width: 200px;
    vertical-align: bottom;
}

// サイド　新着投稿の画像サイズ
.side_new_posts_image{
	width: 95px;
	height: 95px;
	border:1px solid #FFFFFF;
}
// リスト用画像サイズ
.list_cover_image{
	width: 105px;
	height: 105px;
	border-radius: 50%;
	border:2px solid #FFFFFF;
	position: relative;
	right: 50px;
}
// サイド　人気犬ランキング画像サイズ
.side_dogs_cover_image{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
// list btnサイズ
.btn-size{
	font-size: 0.5em;
}

.list_image{
	height: 100px;
	width: 100px;
}

// ーーーーーーmyページ・dog(show)上部分ーーーーーー
.show_head{
	width: 100%;
	height: 420px;
	position: relative;
	border-radius: 2%;
	background-color: #FFFFFF;
}
// マイページカバー画像サイズ
.top_cover_image{
	width: 100%;
	height: 300px;
}
// マイページプロフィール画像サイズ
.top_profile_image{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 4px solid #FFFFFF;
	position: absolute;
	bottom: 50px;
	left: 30px;
}
.top_name{
	font-size: 25px;
	position: absolute;
	bottom: 50px;
	left: 180px;
}

.top_tag_follow{
	position: absolute;
	bottom: 15px;
	left: 180px;
}

.top_tag_edit_or_dm{
	position: absolute;
	bottom: 15px;
	right: 10px;
}
// ーーーmyページ・dog(show)上部分ーーー

.created_font_size{
	font-size: 10px;
}
// --いいねハートカラーーー
.heart_red{
	color: #FF0000;
}

.heart_gray{
	color: #808080;
}
// ーーーーーーーーーーーーーー

// indexページカバー画像サイズ
.index_cover_image{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: relative;
	bottom: 10px;
}
// ーーー投稿showページレイアウトーーー
.post_show_main{
	background-color: #FFFFFF;
	height: 100%;
	width: 75%;
}

.post_show_title{
	font-size: 20px;
}

.post_show_cover_image{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border:5px solid #FFFFFF;
	position: relative;
	bottom: 85px;
	right: 20px;
}

.post_show_comment_form{
	width: 75%;
	background-color: #FFCC99;
}

.post_show_comment_index{
	width: 75%;
	background-color: #FFFFFF;
}

.post_comment_customer_cover_image{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
	bottom: 45px;
	right: 50px;
}

.post_comment_area{
	border-bottom: 2px dotted #FFCC99;
}
// ーーーーーーーーーーーーーーーーーーーーー

// ---kaminariレイアウト---
.pagination>li>a {
  border: none;
  color: #696969;
}
/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
}
// ------------------------
// ---Topページレイアウトーーー
.top_popular_dog_image{
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

.top_back_image{
	margin: 0 auto;
	height: 500px;
	width: 100%;
	background-image: url('top.jpg');
	background-position: center;
	background-size: cover;
	text-align: center;
}
// ーーーーーーーーーーーーーーー
nav{
    background-color: #E4FF8D;
}