<div class="card mt-3">
  <div class="card-body">
    <p class="text-center card-header"><i class="fas fa-crown"></i>人気犬ランキング</p>
    <div class="card-text" >
      <% dog_ids.each do |dog_id| %>
        <ul class="list-group list-group-flush">
          <% @dog = Dog.find(dog_id) %>
            <li class="list-group-item ">
              <%= image_tag @dog.cover_image.thumb.url,class: 'side_dogs_cover_image' %>
                <% if @dog.sex == "男の子" %>
                  <%= link_to "#{@dog.name}",public_dog_path(@dog) %>くん
                <% else %>
                  <%= link_to "#{@dog.name}",public_dog_path(@dog) %>ちゃん
                <% end %>
            </li>
      <% end %>
        </ul>
    </div>
  </div>
</div>